################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Sysbrokeragem-files/v17
*.vsidx
*.sqlite
